<!-- Author: Alexander Fuchs -->
<div class="form-signin mx-auto form-width">
  <h1 class="h2 mb-3 fw-normal text-center">Anmelden</h1>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mt-4">
      <input
        [ngClass]="{'is-invalid': response.errors.usernameNotPresent}"
        formControlName="username" type="text" class="form-control" id="username" placeholder="Username">
      <label for="username">Username</label>
      <div class="invalid-feedback">
        Username ist nicht vorhanden.
      </div>
    </div>
    <div class="form-floating mt-3">
      <input
        [ngClass]="{'is-invalid': response.errors.passwordWrong}"
        formControlName="password" type="password" class="form-control" id="password" placeholder="Passwort">
      <label for="password">Passwort</label>
      <div
        class="invalid-feedback">
        Passwort stimmt nicht überein.
      </div>
    </div>

    <button [disabled]="signInForm.invalid" class="btn btn-success send-button w-100 mt-4 py-2" type="submit">Anmelden
    </button>
  </form>
</div>
