/* Author: Alexander Fuchs */

.number-input::placeholder {
  color: black;
}

@media (min-width: 0px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  td, th {
    font-size: calc(var(--level-zero-base) - var(--level-zero-step));
  }

  .h1 {
    font-size: calc(var(--level-three-base) - var(--level-three-step));
  }

  .h3 {
    font-size: calc(var(--level-two-base) - var(--level-two-step));
  }

  .h5 {
    font-size: calc(var(--level-one-base) - var(--level-one-step));
  }

  .send-button {
    font-size: calc(var(--level-two-base) - var(--level-two-step));
  }

  .number-input {
    width: calc(var(--input-width-base) - var(--input-width-step));
    height: calc(var(--input-height-base) - var(--input-height-step));

    font-size: calc(var(--level-two-base) - var(--level-two-step));
  }
}

@media (min-width: 340px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  td, th {
    font-size: var(--level-zero-base);
  }

  .h1 {
    font-size: var(--level-three-base);
  }

  .h3 {
    font-size: var(--level-two-base);
  }

  .h5 {
    font-size: var(--level-one-base);
  }

  .send-button {
    font-size: var(--level-two-base);
  }

  .number-input {
    width: var(--input-width-base);
    height: var(--input-height-base);

    font-size: var(--level-zero-base);
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  td, th {
    font-size: calc(var(--level-zero-base) + var(--level-zero-step));
  }

  .h1 {
    font-size: calc(var(--level-three-base) + var(--level-three-step));
  }

  .h3 {
    font-size: calc(var(--level-two-base) + var(--level-two-step));
  }

  .h5 {
    font-size: calc(var(--level-one-base) + var(--level-one-step));
  }

  .send-button {
    font-size: calc(var(--level-two-base) + var(--level-two-step));
  }

  .number-input {
    width: calc(var(--input-width-base) + var(--input-width-step));
    height: calc(var(--input-height-base) + var(--input-height-step));

    font-size: calc(var(--level-zero-base) + var(--level-zero-step));
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  td, th {
    font-size: calc(var(--level-zero-base) + 2 * var(--level-zero-step));
  }

  .h1 {
    font-size: calc(var(--level-three-base) + 2 * var(--level-three-step));
  }

  .h3 {
    font-size: calc(var(--level-two-base) + 2 * var(--level-two-step));
  }

  .h5 {
    font-size: calc(var(--level-one-base) + 2 * var(--level-one-step));
  }

  .send-button {
    font-size: calc(var(--level-two-base) + 2 * var(--level-two-step));
  }

  .number-input {
    width: calc(var(--input-width-base) + 2 * var(--input-width-step));
    height: calc(var(--input-height-base) + 2 * var(--input-height-step));

    font-size: calc(var(--level-zero-base) + 2 * var(--level-zero-step));
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  td, th {
    font-size: calc(var(--level-zero-base) + 3 * var(--level-zero-step));
  }

  .h1 {
    font-size: calc(var(--level-three-base) + 3 * var(--level-three-step));
  }

  .h3 {
    font-size: calc(var(--level-two-base) + 3 * var(--level-two-step));
  }

  .h5 {
    font-size: calc(var(--level-one-base) + 3 * var(--level-one-step));
  }

  .send-button {
    font-size: calc(var(--level-two-base) + 3 * var(--level-two-step));
  }

  .number-input {
    width: calc(var(--input-width-base) + 3 * var(--input-width-step));
    height: calc(var(--input-height-base) + 3 * var(--input-height-step));

    font-size: calc(var(--level-zero-base) + 3 * var(--level-zero-step));
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  td, th {
    font-size: calc(var(--level-zero-base) + 4 * var(--level-zero-step));
  }

  .h1 {
    font-size: calc(var(--level-three-base) + 4 * var(--level-three-step));
  }

  .h3 {
    font-size: calc(var(--level-two-base) + 4 * var(--level-two-step));
  }

  .h5 {
    font-size: calc(var(--level-one-base) + 4 * var(--level-one-step));
  }

  .send-button {
    font-size: calc(var(--level-two-base) + 4 * var(--level-two-step));
  }

  .number-input {
    width: calc(var(--input-width-base) + 4 * var(--input-width-step));
    height: calc(var(--input-height-base) + 4 * var(--input-height-step));

    font-size: calc(var(--level-zero-base) + 4 * var(--level-zero-step));
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  td, th {
    font-size: calc(var(--level-zero-base) + 5 * var(--level-zero-step));
  }

  .h1 {
    font-size: calc(var(--level-three-base) + 5 * var(--level-three-step));
  }

  .h3 {
    font-size: calc(var(--level-two-base) + 5 * var(--level-two-step));
  }

  .h5 {
    font-size: calc(var(--level-one-base) + 5 * var(--level-one-step));
  }

  .send-button {
    font-size: calc(var(--level-two-base) + 5 * var(--level-two-step));
  }

  .number-input {
    width: calc(var(--input-width-base) + 5 * var(--input-width-step));
    height: calc(var(--input-height-base) + 5 * var(--input-height-step));

    font-size: calc(var(--level-zero-base) + 5 * var(--level-zero-step));
  }
}
