/* Author: Alexander Fuchs */

/* You can add global styles to this file, and also import other style files */

header, footer {
  background-color: rgba(251, 251, 253, .9);
}

.black-07, black-07-h {
  color: rgba(0, 0, 0, .9);
}

.black-07-h:hover {
  color: #424649;
}

@media (max-width: 500px) {
  .footer-text {
    text-align: center;
  }
}

@media (min-width: 0px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .logo {
    width: var(--logo-width-base);
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .logo {
    width: calc(var(--logo-width-base) + var(--logo-width-step));
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .logo {
    width: calc(var(--logo-width-base) + 2 * var(--logo-width-step));
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .logo {
    width: calc(var(--logo-width-base) + 3 * var(--logo-width-step));
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .logo {
    width: calc(var(--logo-width-base) + 4 * var(--logo-width-step));
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .logo {
    width: calc(var(--logo-width-base) + 5 * var(--logo-width-step));
  }
}
