<!-- Author: Alexander Fuchs -->
<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Alexander Fuchs">

</head>

<body class="d-flex flex-column justify-content-between">

<header class="py-3 fixed-top">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <img class="bi logo" src="../assets/logo.png" alt="">

        <div class="d-flex ms-2 ms-md-3 ms-lg-4 align-items-center">
          <a routerLink="/mobile" class="nav-link px-2 px-md-3 px-lg-4 black-07-h">App Entwicklung</a>
          <a routerLink="/web" class="nav-link px-2 px-md-3 px-lg-4 black-07-h">Web Entwicklung</a>
          <a routerLink="/application" class="nav-link px-2 px-md-3 px-lg-4 black-07-h">Programm
            Entwicklung</a>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <button routerLink="/projects" type="button" class="send-button btn btn-outline-dark mx-2">Projekte</button>
        <button routerLink="/contact" type="button" class="send-button btn btn-dark">Kontakt</button>
      </div>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="py-3">
  <div class="container">
    <span class="footer-text black-07">Copyright © Alexander Fuchs - 2023. Alle Rechte vorbehalten.</span>
  </div>
</footer>

</body>
</html>
