<!-- Author: Alexander Fuchs -->
<div class="form-signin mx-auto form-width">
  <h1 class="h2 mb-3 fw-normal text-center">Account</h1>

  <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mt-4">
      <input
        [ngClass]="{'is-invalid': response.errors.passwordWrong}"
        formControlName="oldPassword" type="password" class="form-control" id="oldPassword"
        placeholder="Altes Passwort">
      <label for="oldPassword">Altes Passwort</label>
      <div
        class="invalid-feedback">
        Passwort stimmt nicht überein.
      </div>
    </div>
    <div class="form-floating mt-5">
      <input
        [ngClass]="{'is-invalid': changeForm.get('newEmail').invalid}"
        formControlName="newEmail" type="email" class="form-control" id="newEmail" placeholder="Neue Email">
      <label for="newEmail">Neue Email</label>
      <div
        class="invalid-feedback">
        Bitte gib eine Email ein.
      </div>
    </div>
    <div class="form-floating mt-3">
      <input
        [ngClass]="{'is-invalid': changeForm.get('newPassword').invalid}"
        formControlName="newPassword" type="password" class="form-control" id="newPassword"
        placeholder="Neues Passwort">
      <label for="newPassword">Neues Passwort</label>
      <div
        class="invalid-feedback">
        Bitte gib ein Passwort mit 5 bis 30 Zeichen ein.
      </div>
    </div>
    <div class="form-floating mt-3">
      <input
        [ngClass]="{'is-invalid': changeForm.errors?.['noIdentity'] && changeForm.get('newPasswordRepeat').value !== ''}"
        formControlName="newPasswordRepeat" type="password" class="form-control" id="newPasswordRepeat"
        placeholder="Neues Passwort wiederholen">
      <label for="newPasswordRepeat">Neues Passwort wiederholen</label>
      <div
        class="invalid-feedback">
        Passwörter stimmen nicht überein.
      </div>
    </div>

    <button [disabled]="changeForm.invalid" class="btn btn-success send-button w-100 mt-4 pt-2" type="submit">Ändern</button>
  </form>

  <div class="modal fade" id="status" tabindex="-1" #modal>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="h3 modal-title" id="exampleModalLabel">Status</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <h1 class="h5 fw-normal text-center" *ngIf="response.success">Die Änderung der Daten war erfolgreich.</h1>
          <h1 class="h5 fw-normal text-center" *ngIf="!response.success">Die Änderung der Daten war nicht erfolgreich.</h1>
        </div>

        <div class="modal-footer">
          <button *ngIf="response.success" routerLink="/report" type="button" class="btn btn-success send-button"
                  data-bs-dismiss="modal">Okay
          </button>
          <button *ngIf="!response.success" type="button" class="btn btn-success send-button" data-bs-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>
  </div>
</div>
