<!-- Author: Alexander Fuchs -->
<div class="position-relative overflow-hidden p-3 p-md-5 mx-md-3 text-center bg-body-tertiary">
  <div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-bold">Software als Erfolgsfaktor</h1>
    <h3 class="fw-normal text-muted mb-3">IT als Unternehmenswert</h3>
    <div class="d-flex gap-3 justify-content-center lead fw-normal">
      <a class="icon-link" href="#">
        Kontakt
        <svg class="bi">
          <use xlink:href="#chevron-right"/>
        </svg>
      </a>
      <a class="icon-link" href="#">
        Buy
        <svg class="bi">
          <use xlink:href="#chevron-right"/>
        </svg>
      </a>
    </div>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="bg-body-tertiary me-md-3 p-2 p-md-4 text-center overflow-hidden">
    <div class="p-3">
      <h2 class="display-5">App Entwicklung</h2>
      <p class="lead">iOS, iPadOS und Android</p>
    </div>
    <div class="pb-2">
      <img src="../../assets/app.jpg" style="height: 30vh;">
    </div>
    <div class="p-3">
      <button routerLink="/mobile" type="button" class="btn btn-outline-dark">App Entwicklung</button>
    </div>
  </div>
  <div class="bg-body-tertiary me-md-3 py-2 px-2 py-md-4 px-md-4 text-center overflow-hidden">
    <div class="p-3">
      <h2 class="display-5">Web Entwicklung</h2>
      <p class="lead">Kompatibilität für alle Endgeräte</p>
    </div>
    <div class="pb-2">
      <img src="../../assets/web.png" style="height: 30vh;">
    </div>
    <div class="p-3">
      <button routerLink="/web" type="button" class="btn btn-outline-dark">Web Entwicklung</button>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="bg-body-tertiary me-md-3 py-2 px-2 py-md-4 px-md-4 text-center overflow-hidden">
    <div class="p-3">
      <h2 class="display-5">Programm Entwicklung</h2>
      <p class="lead">MacOS, Windows und Linux</p>
    </div>
    <div class="pb-3">
      <img src="../../assets/web.png" style="height: 30vh;">
    </div>
    <div class="p-3">
      <button routerLink="/application" type="button" class="btn btn-outline-dark">Programm Entwicklung</button>
    </div>
  </div>

  <div class="bg-body-tertiary me-md-3 py-2 px-2 py-md-4 px-md-4 text-center overflow-hidden">
    <div class="p-3">
      <h2 class="display-5">Cross Cutting</h2>
      <p class="lead">Kombination unterschiedlicher Frontends</p>
    </div>
    <div class="p-2">
      <img src="../../assets/web.png" style="height: 30vh;">
    </div>
    <div class="p-3">
      <button routerLink="/crosscutting" type="button" class="btn btn-outline-dark">Cross Cutting</button>
    </div>
  </div>
</div>
