/* Author: Alexander Fuchs */

@media (min-width: 0px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .h1 {
    font-size: calc(var(--level-four-base));
  }

  .h3 {
    font-size: calc(var(--level-three-base));
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .h1 {
    font-size: calc(var(--level-four-base) + var(--level-four-step));
  }

  .h3 {
    font-size: calc(var(--level-three-base) + var(--level-three-step));
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .h1 {
    font-size: calc(var(--level-four-base) + 2 * var(--level-four-step));
  }

  .h3 {
    font-size: calc(var(--level-three-base) + 2 * var(--level-three-step));
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .h1 {
    font-size: calc(var(--level-four-base) + 3 * var(--level-four-step));
  }

  .h3 {
    font-size: calc(var(--level-three-base) + 3 * var(--level-three-step));
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .h1 {
    font-size: calc(var(--level-four-base) + 4 * var(--level-four-step));
  }

  .h3 {
    font-size: calc(var(--level-three-base) + 4 * var(--level-three-step));
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .h1 {
    font-size: calc(var(--level-four-base) + 5 * var(--level-four-step));
  }

  .h3 {
    font-size: calc(var(--level-three-base) + 5 * var(--level-three-step));
  }
}
