<!-- Author: Alexander Fuchs -->
<div class="position-relative overflow-hidden mx-4 p-5 text-center bg-body-tertiary">
  <div class="mx-auto mt-5 p-5">
    <div class="mt-4 mb-3">
      <h1 class="fw-bold">Message Suggestor</h1>
      <h3 class="fw-normal text-muted mb-3">TO EDIT</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" href="/message_suggestor#suggest">
          Suggest
          <svg class="bi">
            <use xlink:href="#chevron-right"/>
          </svg>
        </a>
        <a class="icon-link" href="/message_suggestor#faq">
          FAQs
          <svg class="bi">
            <use xlink:href="#chevron-right"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="position-relative overflow-hidden mt-4 mx-4 p-5 text-center bg-body-tertiary">
  <div class="mx-auto mb-2 p-5">
    <h1 id="suggest" class="fw-bold">TO EDIT</h1>
    <h3 class="fw-normal text-muted">TO EDIT</h3>

    <div class="d-flex flex-column align-items-center mt-5">
      <img [src]="preview" class="upload" alt="">

      <button class="btn btn-light py-2 mt-5 upload rounded-pill bg-white shadow-sm"
              onclick="document.getElementById('fileupload').click()">Choose file</button>
      <input id="fileupload" type='file' accept="image/*" (change)="select($event)" style="display:none">

      <button type="button" (click)="upload()" class="btn btn-dark mt-4 upload">
        <span [hidden]="!hidden" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span [hidden]="hidden" role="status">Generate</span>
      </button>

      <small class="text-muted mt-3">Chat is processed by multiple AI models. It is not saved or shared to any
        time.</small>
    </div>
  </div>
</div>

<div id="faq" class="position-relative overflow-hidden mt-4 mx-4 p-5 text-center bg-body-tertiary">
  <div class="mx-auto p-4 w-50">
    <h1 class="fw-bold">FAQs</h1>
    <div class="accordion mt-5 mb-3" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            How does the tool work?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            TO EDIT
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Which languages are supported?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            TO EDIT
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
